* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

  font-weight: 600;
}

.body {
  position: relative;
}

.calculadora .pantalla {
  height: 20%;
  display: relative;
  background-color: #504f52;
  border-radius: 10px 10px 0px 0px;
}

.calculadora {
  overflow: hidden;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 5px 2px 13px 2px rgba(0, 0, 0, 0.35);
}

.calculadora .pantalla .texto {
  width: 90%;
  display: absolute;
  inset: 0;
  margin: 20px auto;
  height: 70px;
  color: white;
  font-size: 60px;
  text-align: end;
}

.calculadora .pantalla .botones {
  padding-top: 10px;
  padding-left: 10px;
}

.calculadora .pantalla .botones .rojo {
  display: inline-block;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: #ff5e56;
}

.calculadora .pantalla .botones .amarillo {
  display: inline-block;
  margin-left: 7px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: #feba2f;
}

.calculadora .pantalla .botones .verde {
  display: inline-block;
  margin-left: 7px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: #2bc940;
}

.calculadora .tablauno {
  table-layout: fixed;
  display: table;
  width: 100%;
  height: 64%;
}

.calculadora .tablauno .fila {
  display: table-row;
  height: 20%;
}

.calculadora .tablauno .fila .col {
  vertical-align: middle;
  font-size: 35px;
  text-align: center;
  display: table-cell;
  background: #7d7a7f;
  border: solid #504f52 1px;
}

.calculadora .tablauno .fila .yellow-button {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  font-size: 35px;
  border: solid #504f52 1px;
  background: #fe9f0a;
}
.calculadora .tabla-dos .fila-ultima .yellow-button-dos {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  font-size: 35px;
  border: solid #504f52 1px;
  background: #fe9f0a;
  border-radius: 0 0 10px 0;
}

.calculadora .tablauno .fila .dark-grey-button {
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  background: #626065;
  display: table-cell;
  border: solid #504f52 1px;
}

.calculadora .tabla-dos .fila-ultima .col-ult {
  vertical-align: middle;
  font-size: 35px;
  text-align: center;
  display: table-cell;
  background: #7d7a7f;
  border: solid #504f52 1px;
  width: 50%;
  border-radius: 0 0 0 10px;
}

.calculadora .tabla-dos .fila-ultima .col-dos {
  vertical-align: middle;
  font-size: 35px;
  text-align: center;
  display: table-cell;
  background: #7d7a7f;
  border: solid #504f52 1px;
  width: 25%;
}

.calculadora .tabla-dos {
  display: table;
  width: 100%;
  height: 16%;
}
.calculadora .tabla-dos .fila-ultima {
  display: table-row;
}
